﻿html {
    font-family: Calibri, Arial;
    font-size: 12px;
    color: #636262;
}
html, body, #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
        }

ul{
    overflow:hidden;
    white-space:nowrap;
    font-size: 0;
}
li{
    display:inline-block;
    padding: 10px;
}

#markerDenuncias {
  position: absolute;
  top: 20px;
  right: 60px;
  z-index:1000;
}

#footer {
  position: absolute;
  bottom: 0px;
  right:52px  
}