﻿@media print
{
    .geocode-plugin
    {
        display: none;
    }
}

.geocode-plugin
{
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 1;
    height: 0;
    top: 20px;
}

#omnibox
{
    position: absolute;
    left: 0;
    margin: 16px;
    top: 0;
    z-index: 10;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}

.searchbox
{
    background-color: #fff;
    border: 1px solid transparent;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    padding: 0 11px 0 13px;
    width: 400px;
    max-width: 294px;
    vertical-align: top;
}

.searchbox-shadow
{
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
}

.searchbox, .searchbox-shadow
{
    -webkit-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    transition: all 200ms cubic-bezier(0.52,0,0.48,1);
      border: 1px solid #4d90fe;
}

.layers
{
    margin-top: -5px;
    z-index: 0;
}

.searchbox input
{
    background-color: transparent;
    border: 0;
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
    height: auto !important;
}

.searchboxinput
{
    line-height: 30px;
    width: 100%;
}

.geocode-plugin .searchbutton
{
    background-color: #4d90fe;
    /*INICIO (Comentado por causa do IE8)*/
        /*background-image: url(//maps.gstatic.com/tactile/omnibox/search-button.png) -webkit-linear-gradient(top,#4d90fe,#4787ed);*/
    /*FIM (Comentado por causa do IE8)*/
    /*INICIO (Inserido por causa do IE8)*/
        background-image: url(//maps.gstatic.com/tactile/omnibox/search-button.png);
        background-position: 50%;
        background-repeat: no-repeat;
    /*FIM (Inserido por causa do IE8)*/
    border: 0;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    height: 32px;
    left: 294px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: top;
    width: 72px;
    z-index: -1;
}
.geocode-plugin .searchbutton:hover
{
    background-color: #357ae8;
    /*INICIO (Comentado por causa do IE8)*/
        /*background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);*/
    /*FIM (Comentado por causa do IE8)*/
    cursor: default;
}
.geocode-plugin .searchbutton:focus
{
border: 1px solid transparent;
box-shadow: 0 2px 6px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.5);
outline: none;
}
.geocode-plugin .searchbutton:active
{
box-shadow: 0 2px 6px rgba(0,0,0,0.3),inset 2px 0 6px -1px rgba(0,0,0,0.3);
}

/*INICIO (Comentado por causa do IE8)*/
/*.geocode-plugin .searchbutton::before
{
    background: url(//maps.gstatic.com/tactile/omnibox/search-button.png);
    content: "";
    display: block;
    height: 17px;
    margin: 0 auto;
    width: 17px;
}*/
/*FIM (Comentado por causa do IE8)*/

.geocode-plugin .sbox-focus
{
    border-color: #4d90fe !important;
    margin-left: -1px;
    padding-left: 14px;
    width: 401px;
}

/*noinspection CssInvalidPseudoSelector*/
.geocode-plugin .searchbox input::-webkit-input-speech-button
{
    opacity: 0.5;
}

.geocode-plugin #omnibox .gsib_a
{
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.geocode-plugin #address{
    border: none;
    width: 100%;
    outline: none;
}

.layerStyle {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
    background-color:white;
    position:absolute;
    top:43px;
    left:21px;
    width: 273px;
    padding: 10px;
      height: 10px;
}

.titlecamas {
  position: absolute;
  width:100%;
  top: 12px;
  cursor: pointer;  
}